$light: (
    textDefaultColor: #000000,
    backgroundDefaultColor: #F5EFF6,
    primaryColor: #4ECCA3,
    secondaryColor: #E8DBEB,
    accentColor: #4ECCA3,
);

$dark: (
    textDefaultColor: #FAFAFA,
    backgroundDefaultColor: #050505,
    primaryColor: #4ECCA3,
    secondaryColor: #1E1221,
    accentColor: #88DDC1,
)


